<br>
<br>

<h1>{{ title }}</h1>

<p>{{ message }}</p>

<p class="red">In Progress</p>

<p></p>

<h2>Manage web resources</h2>
<p>Watch the URL update as you mouse over options</p>
<hr>
<ul class="nav nav-pills mb-3">

  <ul class="nav nav-pills mb-3">
    <li class="nav-item" role="presentation">
      <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/team'>Teams</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/player'>Players</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/quest'>Quests</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/location'>Locations</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/clue'>Clues</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/competition'>Competitions</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/user'>Users</a>
    </li>
  </ul>

  <ul>
    <hr>
    <li>
      <a rel="noopener" href='/register'>Register</a>
    </li>
    <li>
      <a rel="noopener" href='/login'>Login</a>
    </li>
    <li>
      <a rel="noopener" href='/forgot-password'>Forgot Password</a>
    </li>
  </ul>

  </p>
  </p>